body {
    font-family: 'Inter', sans-serif;
    /* Use 'Inter' as the preferred font with a fallback to a generic sans-serif font. */
  }
.custom-background {
    background-image: url('images/traffic_image.jpg');
    background-size: cover; /* Adjust to your preferred size */
    background-repeat: no-repeat;
}
  .container1 {
    height: 80px;
    width: 70%;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 1%;
    color: #00000000;
  }
  .container2 {
    width: 1200px; /* Set the desired width */
    height: 650px;
    margin: auto; /* Center the container horizontally */
    margin-bottom: 0.5%;
    background-color: #f0f0f0; /* Background color */
    border: 10px solid #ccc; /* Border for the container */
  }
  .container3 {
    width: 1200px; /* Set the desired width */
    height: 560px;
    margin: auto; /* Center the container horizontally */
    margin-bottom: 0.5%;
    background-color: #f0f0f0; /* Background color */
    border: 10px solid #ccc; /* Border for the container */
  }
  .container4 {
    width: 1200px; /* Set the desired width */
    height: 600px;
    margin: auto; /* Center the container horizontally */
    margin-bottom: 0.5%;
    background-color: #f0f0f0; /* Background color */
    border: 10px solid #ccc; /* Border for the container */
  }
  .map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* Set the desired height for your container */
    width: 100%; /* Set the desired width */
  }
  .dualchart-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* Set the desired height for your container */
    width: 100%; /* Set the desired width */
  }
  .dualchart-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* Set the desired height for your container */
    width: 100%; /* Set the desired width */
  }
  h1 {
      color: white;
      font-family: 'Bahnschrift Semicondensed', sans-serif;
      text-align: center;
      font-size: 70px; /* Set the font size to 24 pixels (adjust as needed) */
      font-weight: bold; /* Make the font bold */
  }
  h2 {
      font-family: 'Bahnschrift Semicondensed', sans-serif;
      text-align: center;
      font-size: 40px; /* Set the font size to 24 pixels (adjust as needed) */
      font-weight: bold; /* Make the font bold */
  }
  .textHeading {
      text-align: center;
      font-size: 20px; /* Set the font size to 24 pixels (adjust as needed) */
      font-weight: bold; /* Make the font bold */
      font-family: 'Bahnschrift Semicondensed', sans-serif;
  }
  .dualColumn {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two equal-width columns */
      gap: 20px; /* Adjust the gap between columns */
      text-align: center;
      color: #171515;
    }
  .triColumn {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* Two equal-width columns */
      gap: 20px; /* Adjust the gap between columns */
      text-align: center;
      margin: auto;
      color: #171515;
    }
  
  .rightColumn {
    text-align: left;
    color: #171515;
  }
  .leftColumn {
    text-align: right;
    color: #171515;
  }
  .dotPointL {
      font-size: 20px;
      font-weight: bold;
      text-align: right;
      color: #000000;
    }
  .dotPointR {
    font-size: 20px;
      font-weight: bold;
      text-align: left;
      color: #000000;
      
    }
  .subHeading{
    margin: 0;
    text-align: center;
    font-size: 15px;
  }